section {
    height: 100vh;
    width: 100vw;
}

#loading-page {
    background-image: url(../images/loadingbackground.jpg);
    background-size: 100vw 100vh;
    bottom: 0px; 
    text-align: center; 
}

#intro-scene {
    background-image: url(../images/nightsky.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh; 
    bottom: 0px; 
    color: black; 
}

#battle-scene {
    background-image: url(../images/battlescene.jpg);
    background-repeat: no-repeat; 
    background-size: 100vw 100vh; 
    top: 0px; 
}

h1, h2 {
    text-align: center; 
    color: white; 
}

h1 {
    font-size: 70px; 
    border: solid white 2px; 
    width: 700px; 
    margin: auto; 
    margin-top: 1%; 
}

h2 {
    font-size: 50px; 
}


h3 {
    font-family: 'Lobster Two', cursive;
    color: white; 
    text-align: center; 
}

#title {
    height: 100px; 
    font-family: 'Staatliches', cursive;
    text-align: center; 
    margin-bottom: 40px; 
}

#character-pick, #chosen-characters {
    height: 20%; 
    text-align: center; 
    font-family: 'Lobster Two', cursive;
    padding-bottom: 0px; 
    margin-bottom: 0px; 
}

#chosen-characters {
    height: 300px; 
}

#vs {
    font-size: 100px; 
    text-align: center; 
    font-family: 'Boogaloo', cursive;
    color: rgb(65, 65, 65); 
}

#start-battle {
    color: rgb(172, 44, 44);
    font-family: 'Staatliches', cursive;
    font-size: 30px; 
}

#next-page, #attack {
    text-align: center; 
    font-family: 'Staatliches', cursive;
    margin-top: 0px; 
}

#house1, #house2, #sword1, #sword2 {
    margin-top: 20px; 
}

#chosen-characters-02 {
    color: white; 
    height: 300px; 
    text-align: center; 
    font-family: 'Lobster Two', cursive;
}